name: Build
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build on push
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        ocaml-version: ['4.08.0', '4.09.0', '4.10.0']
    steps:
      - uses: actions/checkout@master
      - uses: avsm/setup-ocaml@v1.0
        with:
          ocaml-version: ${{ matrix.ocaml-version }}
      - name: Install dependencies
        run: opam install .
        if: matrix.os == 'windows-latest'
        continue-on-error: true
      - name: Build
        run: opam exec -- dune build @install
      - name: Test
        if: matrix.os != 'windows-latest' # The tests don't work on Windows
        run: opam exec -- dune runtest
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: ${{ matrix.os }}_naturL.exe
          path: _build/default/naturL.exe
